*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
  display: flex;
  align-items: center;
}

.container{
  width: 80%;
  min-width: 950px;
  height: 95%;
  margin: 0 auto;
  display: flex;
}

.active{
  display: inline-block;
}

/* SX */
.sx{
  width: 35%;
  height: 100%;
  background-color: white;
}

/* HEADER-SX */
.header-sx,
.chats{
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
}

.header-sx-user,
.chat-avatar,
.header-dx-user{
  height: 100%;
  display: flex;
  align-items: center;
}
.header-sx-user-avatar,
.header-dx-user-avatar{
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.header-sx-user img,
.chat-avatar img,
.header-dx-user img{
  height: 80%;
  border-radius: 50%;
}

.header-sx-icons i,
.header-dx-icons i{
  padding-left: 10px;
  font-size: 20px;
  color: #B4B6B9;
}

/* ALERT */
.alert{
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: #8EDAFC;
}

.alert i{
  padding: 15px 13px;
  font-size: 20px;
  color: #8EDAFC;
  background-color: white;
  border-radius: 50%;
}

.alert .avvisi{
  padding-left: 20px;
}

.alert .avvisi a{
  font-size: 13px;
}

/* SEARCH */
.search-left{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}

.search-container{
  width: 98%;
  height: 30px;
  background-color: white;
}

.search-left input{
  width: 90%;
  height: 30px;
  margin-left: 10px;
  border: none;
}
.search-left i{
  margin-left: 10px;
  color: #B4B6B9;
}

/* CONTACTS */
.contacts{
  width: 100%;
  height: calc(100% - 70px - 80px - 50px);
  overflow-y: scroll;
}

.chats{
  justify-content: flex-start;
  background-color: white;
  border-top: 1px solid #EAEAEA;
  position: relative;
}

.chats:hover{
  background-color: #EAEAEA;
  cursor: pointer;
}

.chats .details{
  padding-top: 10px;
  padding-left: 20px;
  align-self: flex-start;
}

.chats .sent-details p::before{
  font-family: "Font Awesome 5 Free";
   content: "\f560";
   display: inline-block;
   padding-right: 10px;
   vertical-align: middle;
   font-weight: 900;
   color: rgb(19, 177, 255);
}

.chats .details p{
  font-size: 13px;
  padding-top: 8px;
  color: grey;
}

.chats>p{
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 0;
  color: grey;
}


/* DX */
.dx{
  width: 65%;
  height: 100%;
  background-color: lightgreen;
}

.header-dx{
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
  border-left: 1px solid #B4B6B9;
}

.header-dx p{
 font-size: 13px;
 padding-top: 8px;
 color: #B4B6B9;
}

/* MESSAGE */
.message-container{
  width: 100%;
  height: calc(100% - 70px - 70px);
  display: flex;
  align-items: center;
  background-image: url('../img/mine.jpg');
  overflow-y: scroll;
}

.messages{
  width: 95%;
  height: 90%;
  margin: 0 auto;
}

.messages .received{
  display: flex;
}

.messages .sent{
  display: flex;
  justify-content: flex-end;
}

.messages .messages-contenuto{
  max-width: 60%;
  margin-bottom: 10px;
  padding: 10px 35px 5px 10px;
  border-radius: 7px;
  font-size: 15px;
  position: relative;
}

.messages .messages-contenuto i{
   display: none;
   vertical-align: middle;
   font-size: 20px;
   font-weight: 900;
   color: grey;
   position: absolute;
   top: 10px;
   right: 10px;
}

.messages .messages-contenuto .dropdown{
   display: none;
   padding-top: 20px;
   vertical-align: middle;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   font-weight: normal;
   color: black;
   background-color: white;
   position: absolute;
   right:-10px;
   z-index: 999;
}

.messages .messages-contenuto .dropdown ul{
  list-style: none;
}

.messages .messages-contenuto .dropdown ul li{
  padding: 0 20px 10px 20px;
}

.messages .messages-contenuto:hover i{
   display: inline-block;
}

.messages .received-contenuto{
 background-color: white;
}

.messages .sent-contenuto{

 background-color: #dcf8c7;
}

.messages .orario{
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  position: relative;
  left: 30px;
  color: grey;
}

.messages .sent .orario::after{
  font-family: "Font Awesome 5 Free";
   content: "\f560";
   display: inline-block;
   padding-left: 5px;
   vertical-align: middle;
   font-weight: 900;
   color: rgb(19, 177, 255);
}

/* FOOTER */
.footer-dx{
  width: 100%;
  height: 70px;
  background-color: #F3EEEA;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-dx .scrittura{
  width: 85%;
  height: 40px;
}

.footer-dx input{
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border: none;
}

.footer-dx i{
font-size: 25px;
color: #6B7376;
}
