*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
  display: flex;
  align-items: center;
}

.container{
  width: 80%;
  min-width: 950px;
  height: 95%;
  margin: 0 auto;
  display: flex;
}

/* SX */
.sx{
  width: 35%;
  height: 100%;
  background-color: white;
}

/* HEADER-SX */
.header-sx,
.chats{
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
}

.header-sx-user,
.chat-avatar{
  height: 100%;
  display: flex;
  align-items: center;
}
.header-sx-user-avatar{
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.header-sx-user img,
.chat-avatar img{
  height: 80%;
  border-radius: 50%;
}

.header-sx-icons i{
  padding-left: 10px;
  font-size: 20px;
  color: grey;
}

/* ALERT */
.alert{
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: #8EDAFC;
}

.alert i{
  padding: 15px 13px;
  font-size: 20px;
  color: #8EDAFC;
  background-color: white;
  border-radius: 50%;
}

.alert .avvisi{
  padding-left: 20px;
}

.alert .avvisi a{
  font-size: 13px;
}

/* SEARCH */
.search-left{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
}

.search-container{
  width: 98%;
  height: 30px;
  background-color: white;
}

.search-left input{
  width: 90%;
  height: 30px;
  margin-left: 10px;
  border: none;
}
.search-left i{
  margin-left: 10px;
  color: grey;
}

/* CONTACTS */
.contacts{
  width: 100%;
  height: calc(100% - 70px - 80px - 50px);
  overflow-y: scroll;
}

.chats{
  justify-content: flex-start;
  background-color: white;
  border-top: 1px solid #FAFAFA;
}

.chats h4{
  padding-top: 10px;
  padding-left: 20px;
  align-self: flex-start;
}

/* DX */
.dx{
  width: 65%;
  height: 100%;
  background-color: lightgreen;
}

.header-dx{
  width: 100%;
  height: 70px;
  background-color: rgb(24, 204, 222);
}

.message-container{
  width: 100%;
  height: calc(100% - 70px - 70px);
  display: flex;
  align-items: center;
}

.messages{
  width: 95%;
  height: 90%;
  margin: 0 auto;
  background-color: rgb(252, 198, 252);
}

.footer-dx{
  width: 100%;
  height: 70px;
  background-color: rgb(151, 149, 242);
}
