<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Boolzap</title>
</head>
<body>
  <!-- CONTENITORE CENTRATO -->
  <div class="container " id="app">
    <div class="sx">
      <!-- HEADER -->
      <div class="header-sx">
        <div class="header-sx-user">
          <div class="header-sx-user-avatar">
            <img :src="'img/'+user+'.jpg'" :alt="user">
          </div>
          <h4>{{user}}</h4>
        </div>
        <div class="header-sx-icons">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- ALERT -->
      <div class="alert">
        <div class="alert-icon">
          <i class="fas fa-bell-slash"></i>
        </div>
        <div class="avvisi">
          <h4>Ricevi notifiche di nuovi messaggi</h4>
          <a href="#">Attiva notifiche desktop</a>
        </div>
      </div>
      <!-- SEARCH -->
      <div class="search-left">
        <div class="search-container">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Cerca o inizia una nuova chat">
        </div>
      </div>
      <!-- CONTACTS -->
      <div class="contacts">
        <div class="chats" v-for="(element, index) in contacs" @click="cambio(index)">
          <div class="chat-avatar" >
            <img :src="'img/'+element.name+'.jpg'" :alt="element.name">
          </div>
          <div class="details">
          <h4>{{element.name}}</h4>
          <p>{{element.messages[element.messages.length-1].text}}</p>
          </div>
          <p>{{element.messages[element.messages.length-1].time}}</p>
        </div>


        <!-- <div class="chats">
          <div class="chat-avatar">
            <img src="img/Cristiano.jpg" alt="Cristiano">
          </div>
          <h4>Cristiano</h4>
        </div>
        <div class="chats">
          <div class="chat-avatar">
            <img src="img/Davide.jpg" alt="Davide">
          </div>
          <h4>Davide</h4>
        </div>
        <div class="chats">
          <div class="chat-avatar">
            <img src="img/Emanuele.jpg" alt="Emanuele">
          </div>
          <h4>Emanuele</h4>
        </div>
        <div class="chats">
          <div class="chat-avatar">
            <img src="img/Giacomo.jpg" alt="Giacomo">
          </div>
          <h4>Giacomo</h4>
        </div>
        <div class="chats">
          <div class="chat-avatar">
            <img src="img/Yuri.jpg" alt="Yuri">
          </div>
          <h4>Yuri</h4>
        </div> -->


      </div>
    </div>
    <!-- DX -->
    <div class="dx">
      <!-- HEADER DX -->
      <div class="header-dx">
        <div class="header-dx-user">
          <div class="header-dx-user-avatar">
            <img :src="'img/'+contacs[contatore].name+'.jpg'" :alt="contacs[contatore].name">
          </div>
          <div class="dettagli">
            <h4>{{contacs[contatore].name}}</h4>
            <p>Ultimo accesso alle...</p>
          </div>
        </div>
        <div class="header-dx-icons">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>

      <!-- MESSAGES -->
      <div class="message-container">
        <div class="messages" >
          <!-- RICEVUTI E INVIATI -->
          <div :class="element.status" v-for="element in contacs[contatore].messages">
            <div class="messages-contenuto" :class="element.status+'-contenuto'">
              {{element.text}}
              <div class="orario">
                {{element.time}}
              </div>
            </div>
          </div>

          <!-- <div v-if>
            <div class="ricevuti-contenuto">
              <p></p>
            </div>
          </div> -->

          <!-- <div class="ricevuti">
            <div class="ricevuti-contenuto">
              <p>Ciao bello de casa! 🔥🔥</p>
            </div>
          </div>

          <div class="inviati">
            <div class="inviati-contenuto">
              <p>Ah bello!🌟🌟</p>
              <p>Tutto bene?</p>
            </div>
          </div>
          <div class="ricevuti">
            <div class="ricevuti-contenuto">
              <p>Sì sì, alla grandeeeee</p>
              <p>DAJEEEEEE</p>
            </div>
          </div>
          <div class="ricevuti">
            <div class="ricevuti-contenuto">
              <p>Ma senti n'attimo, che te ricordi mica come se scrive quer cavolo de Map?</p>
            </div>
          </div>
          <div class="inviati">
            <div class="inviati-contenuto">
              <p>Guarda, per la sintassi puoi guardare su W3School 😉😉</p>
            </div>
          </div>
          <div class="ricevuti">
            <div class="ricevuti-contenuto">
              <p>...... 😡😡😡</p>
            </div>
          </div> -->

        </div>
      </div>

      <!-- FOOTER -->
      <div class="footer-dx">
        <div class="smile">
          <i class="far fa-smile"></i>
        </div>
        <div class="scrittura">
          <input type="text" @keyup.enter="addText" v-model="nuovoText" placeholder="Scrivi un messaggio">
        </div>
        <div class="microfono">
          <i class="fas fa-microphone"></i>
        </div>
      </div>

    </div>
  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
